<div class="container">
  <div class="col-sm-5 col-sm-offset-3 col-md-6 col-md-offset-2">
    <div class="row">
      <h2>Configure a new deployment</h2>
      <p>An application deployment consists of an application image (hosted on dockerhub) together with an environment and hosts.</p>
    </div>
    <div class="row">
      <form data-bind="submit: create">
        <div class="form-group">
          <label for="inputEnvironment">Set environment</label>
          <select data-bind="options: envOptions, value: environment" class="form-control" id="inputEnvironment"></select>
        </div>
        <div class="form-group">
          <label for="inputAppName">Choose existing application</label>
          <select style="width: 100%" data-bind="value: appName" required="true" class="form-control" id="inputAppName"></select>
        </div>
        <div class="form-group">
          <label for="inputImage">Choose existing image</label>
          <select data-bind="options: imageList, value: imageTag" required="true" class="form-control" id="inputImage"></select>
        </div>
        <div class="form-group">
          <label for="inputAppLinks">Choose existing applications to link (--link)</label>
          <select style="width: 100%" data-bind="selectedOptions: links" multiple="true" class="form-control" id="inputAppLinks"></select>
        </div>
        <div class="form-group">
          <label for="inputAppVolumes">Choose existing applications to mount volumes from (--volumes-from)</label>
          <select style="width: 100%" data-bind="selectedOptions: volumes" multiple="true" class="form-control" id="inputAppVolumes"></select>
        </div>  
        <div class="form-group">
          <label for="inputEndpoint">Status endpoint</label>
          <input data-bind="value: statusEndpoint" type="text" class="form-control" required="true" id="inputEndpoint" placeholder="Status endpoint, eg: /v1/status">
        </div>
        <div class="form-group">
          <label for="inputEndpointPort">Status port</label>
          <input data-bind="value: statusPort" type="number" class="form-control" required="true" id="inputEndpointPort" placeholder="Status endpoint port, eg: 9001">
        </div>
        <div class="form-group">
          <label for="inputEnvironmentVariables">Environment Variables (-e)</label>
          <textarea data-bind="value: environmentVariablesString" class="form-control" id="inputEnvironmentVariables" placeholder="KEY1=VALUE1,KEY2=VALUE2,..."></textarea>
        </div>
        <div class="form-group">
          <label for="inputMappedPorts">Mapped Ports (-p)</label>
          <textarea data-bind="value: mappedPortsString" class="form-control" rows="3" id="inputMappedPorts" placeholder="containerPortA:hostPortA, containerPortB:hostPortB, ..."></textarea>
        </div>
        <div class="form-group">
          <label for="inputMappedVolumes">Mapped Volumes (-v)</label>
          <textarea data-bind="value: mappedVolumesString" class="form-control" rows="3" id="inputMappedVolumes" placeholder="containerVolumeA:hostPortA, containerPortB:hostPortB, ..."></textarea>
        </div>
        <div class="form-group">
          <label for="inputHosts">Choose deployment hosts</label>
          <select style="width: 100%" multiple="true" required="true" class="form-control" id="inputHosts"></select>
        </div>        
        <button type="submit" class="btn btn-primary">Create Deployment</button>
        <span class="hidden alert alert-danger">Deployment with that configuration already exists</span>
      </form>
    </div>
  </div>
</div>
<div>
