<h2 class="sub-header" data-bind="text: name"></h2>
<div class="row">
  <div class="table-responsive">
    <h4 class="sub-header">Deployments</h4>
    <table id="app-deployments" class="table table-striped">
      <thead>
        <tr>
          <th>Image Tag</th>
          <th>Environment</th>
          <th>Up Containers</th>
          <th>Hosts</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: deployments">
        <tr>
          <td data-bind="text: imageTag"></td>
          <td data-bind="text: environment"></td>
          <td data-bind="text: upContainers"></td>
          <td data-bind="text: hosts().length"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="row">
  <div class="table-responsive">
    <h4 class="sub-header">Images</h4>
    <table id="app-images" class="table table-striped">
      <thead>
        <tr>
          <th>Image Tag</th>
          <th>Layer</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: images">
        <tr>
          <td data-bind="text: tag"></td>
          <td><samp data-bind="text: hash"></samp></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
