<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <h1 class="row">
        <strong class="col-md-2" data-bind="text: appName"></strong>
      </h1>
      
      <div class="row">
        <strong class="col-md-2">Image: </strong>
        <span class="col-md-2" data-bind="text: imageTag"></span>
        <button id="launchButton" data-bind="click: launch" class="btn btn-sm btn-primary">Launch Deployment</button>
      </div>

      <div class="row">
        <strong class="col-md-2">Environment: </strong>
        <span class="col-md-2" data-bind="text: environment"></span>
      </div>
    </div>    
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">App Status</h3>
  </div>

  <div class="panel-body">
    <div class="row" id="statusEndpointField">
      <strong class="col-md-2">Endpoint: </strong>
      <span  class="col-md-2" data-bind="editable: statusEndpoint, editableOptions: {url: updateDeployment, mode: 'inline'}"></span>      
    </div>
    
    <div class="row" id="statusPortField">
      <strong class="col-md-2">Port: </strong>
      <span class="col-md-2" data-bind="editable: statusPort, editableOptions: {url: updateDeployment, mode:'inline'}"></span>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Container Configuration</h3>
  </div>

  <div class="panel-body">    
    <div class="row">
      
      <div class="col-md-12">
        <p>
          <strong>Mapped Ports: </strong>
        </p>
        <!-- TODO: Hide this whole div unless adding mapped ports -->
        <div class="row">
          <div class="col-md-2">
            <div class="input-group">
              <input type="text" class="form-control" id="mappedPortsField" data-bind="value: mappedPortToAdd, valueUpdate: 'afterkeydown'"/>
              <span class="input-group-btn">
                <button class="btn btn-primary" data-bind="enable: mappedPortToAdd().length, click: addMappedPort">Add</button>
              </span>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-2">
            <div class="list-group" data-bind="foreach: mappedPorts">
              <div class="list-group-item">
                <button type="button" class="badge" data-bind="click: $parent.removeMappedPort">Remove</button>
                <span data-bind="text: $data"></span>            
              </div>
            </div>
          </div>
        </div>        
      </div>

      <div class="col-md-12">
        <p>
          <strong>Mapped Volumes: </strong>
        </p>
        <!-- TODO: Hide this whole div unless adding mapped volumes -->
        <div class="row">
          <div class="col-md-2">
            <div class="input-group">
              <input type="text" class="form-control" id="mappedVolumesField" data-bind="value: mappedVolumeToAdd, valueUpdate: 'afterkeydown'"/>
              <span class="input-group-btn">
                <button class="btn btn-primary" data-bind="enable: mappedVolumeToAdd().length, click: addMappedVolume">Add</button>
              </span>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-2">
            <div class="list-group" data-bind="foreach: mappedVolumes">
              <div class="list-group-item">
                <button type="button" class="badge" data-bind="click: $parent.removeMappedVolume">Remove</button>
                <span data-bind="text: $data"></span>            
              </div>
            </div>
          </div>
        </div>        
      </div>
      
    </div>  <!-- end row -->
  </div> <!-- end panel body -->
  
</div>


<!-- <p> -->
<!--   <strong>Environment Variables: </strong> -->
<!-- <p> -->
<!--    <form data-bind="submit: addEnvVar"> -->
<!--       <input id="envVarField" data-bind='value: envVarToAdd, valueUpdate: "afterkeydown"' /> -->
<!--       <button type="submit" class="btn btn-primary" data-bind="enable: envVarToAdd().length > 0">Add</button> -->
<!--   </form> -->
<!--   <div class="collapse alert alert-info" id='hideEnvVars'> Adding environment variables requires manual re-deployment. </div>  -->
<!--   <ul class="list-group" data-bind="foreach: envVarList"> -->
<!--     <li class="list-group-item row"><p class="col-md-2" data-bind="text: name+'='+value"></p><a class="col-md-2" href="#" data-bind="click: $parent.removeEnvVar ">Remove</a></li> -->
<!--   </ul> -->
<!-- </p> -->
<!-- <br> -->

<!-- <p class="row">   -->
<!--   <div class="col-md-6">     -->
<!--     <div class="input-group"> -->
<!--       <select style="width: 100%" class="form-control" id="inputHosts2"></select> -->
<!--       <span class="input-group-btn"> -->
<!--         <button id="hostsButton"type="submit" class="btn btn-primary">Add</button> -->
<!--       </span> -->
<!--     </div> -->
<!--   </div> -->
<!-- </p> -->

<!-- <p class="row"> -->
<!--   <div class="collapse alert alert-info" id="hideConfigHosts"> Adding hosts requires manual re-deployment. </div><br> -->
<!--   <div class="col-md-6"> -->
<!--     <strong>Configured Hosts: </strong> -->
<!--     <ul class="list-group" data-bind="foreach: hosts"> -->
<!--       <li class="list-group-item row"><a class="col-md-2" data-bind="attr: {href: '#hosts/'+hostname}, text: alias"></a><a class="col-md-2" href="#" data-bind="click: $parent.removeHost">Remove</a></li> -->
<!--     </ul> -->
<!--   </div> -->
<!-- </p> -->

<!-- <\!--<p data-bind="visible: links().length"> -\-> -->
<!-- <p> -->
<!--   <br> -->
<!--   <strong>Linked Apps: </strong> -->
<!--   <form data-bind="submit: addLinks"> -->
<!--   <select style="width: 100%" require="true" class="form-control" id="inputLinkedApp"></select>  -->
<!--   <button id="linkedAppButton" type="submit" class="btn btn-primary" id="linkedAppButton">Add</button> -->
<!--   </form> -->
<!--   <div class="collapse alert alert-info" id="hideLinkedApps"> Adding linked apps requires manual re-deployment. </div><br> -->
<!--   <ul data-bind="foreach: links"> -->
<!--     <li class="list-group-item row"><p class="col-md-3" data-bind="text: $data"></p><a class="col-md-2" href="#" data-bind="click: $parent.removeLink">Remove</a></li> -->
<!--   </ul> -->
<!-- </p> -->


<!-- <\!--<p data-bind="visible: volumes().length"> -\-> -->
<!-- <p> -->
<!-- <br> -->
<!--   <strong>Linked Volumes: </strong> -->
<!-- <form data-bind="submit: addVolumes"> -->
<!--   <select style="width: 100%" require="true" class="form-control" id="inputLinkedVolume"></select>  -->
<!--   <button id="linkedVolumesButton" type="submit" class="btn btn-primary" id="linkedVolumeButton">Add</button> -->
<!-- </form> -->
<!--   <div class="collapse alert alert-info" id="hideLinkedVolumes"> Adding linked volumes requires manual re-deployment. </div><br> -->
<!--   <ul data-bind="foreach: volumes"> -->
<!--     <li class="list-group-item row"><p class="col-md-3" data-bind="text: $data"></p><a href="#" data-bind="click: $parent.removeVolume">Remove</a> -->
<!-- </li> -->
<!-- </ul> -->
<!-- </p> -->

<!-- <br> -->
<!-- <div class="table-responsive"> -->
<!--   <h4 class="sub-header">Containers</h4> -->
<!--   <table id="deployment-containers" class="table table-striped"> -->
<!--     <thead> -->
<!--       <tr> -->
<!--         <th>Container</th> -->
<!--         <th>Host</th> -->
<!--         <th>Command</th> -->
<!--         <th>App Status</th> -->
<!--         <th>Container State</th> -->
<!--       </tr> -->
<!--     </thead> -->
<!--     <tbody data-bind="foreach: containers"> -->
<!--       <tr> -->
<!--         <td><samp data-bind="text: id"></samp></td> -->
<!--         <td data-bind="text: host"></td> -->
<!--         <td><samp data-bind="text: command"></samp></td> -->
<!--         <td><h5 data-bind="text: status, css: {'text-success': status() === 'up', 'text-danger': status() === 'down'}"></h5></td> -->
<!--         <td><h5 data-bind="text: state, css: {'text-success': state() === 'running'}"></h5></td> -->
<!--       </tr> -->
<!--     </tbody> -->
<!--   </table> -->
<!-- </div> -->

<!-- <div class="row"> -->
<!--   <br> -->
<!--   <div class="col-md-2"> -->
<!--     <button data-bind="click: deleteDeployment" class="btn btn-danger">Delete Deployment</button> -->
<!--   </div> -->
<!-- </div> -->
