<div data-bind="page: {id: 'all'}">
  <h1 class="page-header">Deployments</h1>
  <table id="deployments_table" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Deployment</th>
        <th>App Name</th>
        <th>Image Tag</th>
        <th>Environment</th>
        <th>Up Containers</th>
        <th>Hosts</th>
      </tr>
    </thead>
  </table>
</div>
<div data-bind="page: {id: '?', beforeShow: setPage}">  
  <div data-bind="module: {name: 'deployment', template: 'deploymentDetail', data: page}"></div>
</div>
