<h2 class="sub-header" data-bind="text: hostname"></h2>
<p><strong>Alias: </strong><span data-bind="text: alias"></span></p>
<p><strong>Port: </strong><span data-bind="text: port"></span></p>
<p><strong>ASG: </strong><span data-bind="text: asgName"></span></p>
<div class="table-responsive">
  <h4 class="sub-header">Containers</h4>
  <table id="host-containers" class="table table-striped">
    <thead>
      <tr>
        <th>Container</th>
        <th>Command</th>
        <th>App Status</th>
        <th>Container State</th>
      </tr>
    </thead>
    <tbody data-bind="foreach: containers">
      <tr>
        <td><samp data-bind="text: id"></samp></td>
        <td><samp data-bind="text: command"></samp></td>
        <td><h5 data-bind="text: status, css: {'text-success': status() === 'up', 'text-danger': status() === 'down'}"></h5></td>
        <td><h5 data-bind="text: state, css: {'text-success': state() === 'running'}"></h5></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <br>
  <div class="col-md-2">
    <button data-bind="click: deleteHost" class="btn btn-danger">Delete Host</button>
  </div>
</div>
